.head {
  background-color: rgba(34, 32, 36, 0.589);
  height: 60px;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.rowhead {
  display: flex;
}
#image-edit {
  width: 120px;
  height: 70px;
}
.rowhead > h2 {
  padding-top: 24px;
  margin-left: 9px;
}
.rowheadie {
  margin-right: 15px;
}
#log-out {
  margin-left: 10px;
}
.main-page {
  background: url(../img/strawberries-1330459_1920.jpg);
  background-repeat: no-repeat;
}
.second {
  background-color: #00000065;
  height: 520px;
  padding-top: 10px;
  justify-content: space-evenly;
  overflow: scroll;
}
#log-out,
#cart {
  width: 30px;
  height: 27px;
  cursor: pointer;
}
.card {
  width: 300px;
  height: 450px;
  margin: 10px;
}
.burger-pic {
  width: 100%;
  height: 250px;
}
card-body {
  width: 100%;
  height: 30px;
}
button {
  background-color: rgba(255, 0, 0, 0.596);
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.butn {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
h5 {
  font-weight: bold;
  font-family: sans-serif;
  color: #5e7070;
}
.card-text {
  height: 70px;
  font-size: 15px;
}
.price-tag > p {
  font-size: 16px;
  font-weight: lighter;
  color: crimson;
}
#second-burger {
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.card-add {
  /* justify-content: space-around; */
  height: 250px;
  padding-bottom: 10px;
}
input[type="text"] {
  border: none;
  border-bottom: 1px solid;
  border-color: steelblue;
}
.icon {
  height: 20px;
  cursor: pointer;
}
.icon > p {
  width: 30px;
  text-align: center;
  color: crimson;
}
.cart-add > p,
.t-price {
  color: crimson;
}
.dismiss {
  color: white;
  background-color: rgba(10, 3, 3, 0.596);
  width: 100px;
  height: 40px;
}
.total {
  display: flex;
  justify-content: flex-end;
}
.t-text {
  width: 28%;
  color: #5e7070;
  font-weight: bold;
}
#cover-wrapper {
  background-color: transparent;
  position: relative;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
#image-wrapper {
  background-color: #00000036;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 40px;
  display: none;
}
#cover-wrapper:hover > #image-wrapper {
  display: block;
  color: white;
}
#order_cancel {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 9px;
  right: 12px;
  display: hidden;
}
